<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/icons/javaScriptLogo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/counter.css" />
    <title>Counter App | Master JavaScript (ES6)</title>
  </head>
  <body
    style="
      text-align: center;
      margin: 200px 0;
      background-color: orangered;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <h1>Jai Shree Ram!</h1>
    <h1 style="background-color: white; margin: 10px 0">Counter App</h1>
    <div class="container">
      <p id="count">0</p>
      <div class="btns">
        <button id="decreasebtn">Decrease</button>
        <button id="resetbtn">Reset</button>
        <button id="increasebtn">Increase</button>
      </div>
    </div>
  </body>
</html>
