<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/icons/javaScriptLogo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Master JavaScript (ES6)</title>
  </head>
  <body style="text-align: center; margin: 10px 0; background-color: orangered">
    <h1>Jai Shree Ram!</h1>
  </body>
</html>
